* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial;
}

.card-video {
    width: 100%;
}

.thumb img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.thumb {
    position: relative;
}

.time span {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: black;
    padding: 4px;
    border-radius: 4px;

    position: absolute;
    right: 8px;
    bottom: 8px;
}

main {
    padding: 100px 30px 0 30px;
}

.info {
    display: grid;
    grid-template-columns: 38px 1fr 24px;
    column-gap: 10px;
    margin-top: 8px;
    align-items: start;
}

.logo img {
    /* A coluna que ele corresponde tem 38px de largura (grid-template-columns) */
    width: 100%;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.info h2 {
    font-size: 1rem;
    margin: 5px 0 8px 0;
}

.info p {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 3px;
}

.date::before {
    content: "•";
    margin: 0 4px;
}

.more svg {
    fill: white;
}

.videos-container {
    display: grid;
    /* Colunas automáticas */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}