@use 'mixins';
@use 'variables';

* {
    @include mixins.default-config();
}

.container {
    @include mixins.div-size(80%, 100vh);
    background-color: variables.$secondary-color;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        @include mixins.div-size(300px, 200px);
        background-color: red;
        border-radius: 20px;
        border: solid 2px black;
        transition: 200ms ease;
        animation: america 2s linear infinite;

        &:hover {
            scale: 95%;
            rotate: 45deg;
        }

        @keyframes america {
            0% {
                scale: 85%;
            } 100% {
                scale: 105%;
            }
        }
    }
}